<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="InSerialNumber" value="BOCK201560671" />
    <add key="OutSerialNumber" value="JJA1243801631" />
    <add key="UserName" value="creativebuffer" />
    <add key="UserPassword" value="Buffer@2020" />
    <add key="EsslBaseUrl" value="http://172.16.16.10:82/iclock/webapiservice.asmx" />
    <add key="CRMBaseUrl" value="https://crm.creativebuffer.com/api/essl/" />
  </appSettings>
</configuration>